# linting, formating, typing
black==22.12.0
copier==7.0.1
darglint==1.8.1
flake8==6.0.0
hatch==1.6.3
isort==5.11.4
mypy==0.991
# precommit action
pre-commit==3.2.0
# code quality infos
radon==5.1.0
# refactoring
rope==1.6.0
